
/* Import Google fonts */ 

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Protest+Guerrilla&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Merriweather", sans-serif; 
}

body{
    display: flex; 
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#595f58, #e4e4e4, #0e8b30);
}

.wrapper{
    max-width: 1500px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}
.card-list .card-item{
    list-style: none;
}
.card-list .card-item .web-link{
    top: 1;
    user-select: none;
    width: 450px;
    display: block;   /* change block behaviour */
    background: #cadfd0;
    padding: 18px;
    border-radius:  12px;
    border:2px solid transparent ;     /* pre-set the border to transparent for hover effect */
    text-decoration: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
    z-index: 1;
}

.card-list .card-item .web-link:active{
    cursor: grabbing
}

.card-list .card-item .web-link:hover {   /* making the hover border effect */ 
    border-color:  #092e13;
}

.card-list .web-link .crd-image{
    width: 100%;
    aspect-ratio: 16 / 9;  /* width / height property */
    object-fit: cover;   /* fit image into its container */
    border-radius: 8px;
}

.link-desc{
   color: azure;
   background: #256135;
   padding: 5px 15px;
   font-size: 1rem;
   font-weight: 500;
   margin: 15px 0 17px;
   width: fit-content; /* make the background fit the text */
   border-radius: 50px;

}

.link-desc.simulator{  /* Simulator websites : yellow color */
    color: white;
    background: #c79200;
}

.link-desc.go{    /* Go Bim website : blue color */
    color: white;
    background: #147d91;
}
 
.link-desc.tour{      /* Tour websites color: mustard color */
    color: white;
    background: #917d14;
 }

 .link-desc.geoanalysis{   /* Geoanalysis websites color: light green color */
    color: white;
    color: white;
    background: #368f38;
 }
.title{
    font-size: 1.20rem;
    color: black;
    font-weight: 600;
}

button{
    margin: 25px 0 5px;
}

.wrapper .swiper-pagination-bullet{
    height: 13px;
    width: 13px;
    opacity: 0.3;
    background: #156129;
}

.wrapper .swiper-pagination-bullet-active{
    height: 13px;
    width: 13px;
    opacity: 1;
    background: #22aa46;
}

.wrapper .swiper-slide-btn{
    color: #2b5c37;
    margin-top: -50px;
    margin-left: 20px;
}

.content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(202, 223, 208, 0.85);
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    width: 450px;
    border: 3px solid #24361d;
    border-radius: 12px;
}

.hover-title{
    margin-left: 10px;
    font-weight: 600;
    margin-top: 10px;
    color:#24361d;
}

.hover-info{
    margin-left: 10px;
    font-weight: 700;
    color:#096622;
    margin-top: 10px;
}


.hover{
    position: center;
    width: 200px;
    margin-left: 10px;
}

.content:hover{
    opacity: 1;
}

/* MODAL CSS STYLING */

.msg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display:flex; 
    justify-content: center;
    align-items: center;
    z-index: 998; 
    display: none; /* PUT MODAL OVER CARDS */
}

.modal-info{
 width: 600px;
 height: 300px;
 background-color: white;
 opacity: 1;
 border-radius: 5px;
 text-align: center;
 grid-template-columns: 1fr 1fr;
 gap: 5px;

}

.modal-info .h2-modal{
    margin-top: 15px;
    color: #096622;
    font-weight: 600;
}

.modal-info .p-modal{
   margin-top: 10px;
   color:#332e2e;
   font-weight: 400;
   padding: 0, 5px;
   font-size: 14px;
}

.msg-modal .modal-info button{
    width: 200px;
    height: 50px;
    cursor: pointer;
    background: #092e13;
    border: 1px solid #092e13;
    border-radius: 5px;
    color: #cadfd0;
    font-size: 15px;
    padding: 10px;
}

.msg-modal .modal-info button.cancel-button{
    background: transparent;
    color: #092e13;
}

.msg-modal .modal-info button.ok-button:hover{
    background-color: #595f58;
    color: #cadfd0;
}

.msg-modal .modal-info button.cancel-button:hover{
    background-color: #595f58;
    color: #cadfd0;
}
/* Responsive Webiste */

@media screen and (max-width: 770px) {
    .wrapper{
        margin: 0 10px 25px;
    }

    .wrapper .swiper-slide-btn{
        display: none;
    }
}
