
/* Import Google fonts */ 

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Protest+Guerrilla&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", sans-serif; 
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#595f58, #909792, #075c1e);
}

.card-list .card-item{
    list-style: none;
}
.card-list .card-item .web-link{
    width: 450px;
    display: block;   /* change block behaviour */
    background: #cadfd0;
    padding: 18px;
    border-radius:  12px;
    border:2px solid transparent ;     /* pre-set the border to transparent for hover effect */
    text-decoration: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.card-list .card-item .web-link:hover {   /* making the hover border effect */ 
    border-color:  #092e13;
}

.card-list .web-link .crd-image{
    width: 100%;
    aspect-ratio: 16 / 9;  /* width / height property */
    object-fit: cover;   /* fit image into its container */
    border-radius: 8px;
}

.link-desc{
   color: azure;
   background: #256135;
   padding: 5px 15px;
   font-size: 1rem;
   font-weight: 500;
   margin: 15px 0 17px;
   width: fit-content; /* make the background fit the text */
   border-radius: 50px;

}

.title{
    font-size: 1.20rem;
    color: black;
    font-weight: 600;
}

button{
    margin: 25px 0 5px;
}